<div>
  <div id="companyName">{{companyName}}</div>
  <div id="container">
    <div class="divs" id="title"><h1>{{title}}</h1></div>
    <hr>
    <button id="home" (click)="showHomePage()">Strona Główna</button>
    <div class="divs">
      <span class="headers">Wybierz stanowisko</span> <br/>
      <div class="flex">
        <button (click)="showSpApplications()">Opiekun SP</button>
        <button (click)="showVipApplications()">Opiekun VIP</button>
        <button (click)="showHelperApplications()">Pomocnik</button>
        <button (click)="showCommentApplications()">Komentator</button>
        <button (click)="showApplications()">Wszystkie</button>
      </div>
    </div>

    <div class="divs" id="allApplications">
      <span class="headers">Lista wszystkich podań</span> <br/>

    </div>

    <div id="forSelectedPosition" class="divs" hidden="true">
      <span class="headers">Lista podań na wybrane stanowisko</span> <br/>
      <div class="divs">
        <div id="spApplications" hidden="true">
          <span class="names">Opiekun Strefy Prywatnej</span> <br/>

        </div>

        <div id="vipApplications" hidden="true">
          <span class="names">Opiekun Strefy VIP</span> <br/>

        </div>

        <div id="helperApplications" hidden="true">
          <span class="names">Pomocnik</span> <br/>

        </div>

        <div id="commentApplications" hidden="true">
          <span class="names">Komentator</span> <br/>

        </div>
      </div>
    </div>
  </div>
</div>
