<div>
  <div id="companyName">{{companyName}}</div>
  <div id="container">
    <div class="divs" id="title"><h1>{{title}}</h1></div>
    <hr>
    <button id="home" (click)="showHomePage()">Strona Główna</button>
    <div class="divs">
      <span class="headers">Wybierz stanowisko</span> <br/>
      <div class="flex">
        <button (click)="showSpApplications()">Opiekun SP</button>
        <button (click)="showVipApplications()">Opiekun VIP</button>
        <button (click)="showHelperApplications()">Pomocnik</button>
        <button (click)="showCommentApplications()">Komentator</button>
        <button (click)="showApplications()">Wszystkie</button>
      </div>
    </div>

    <div class="divs" id="allApplications">
      <span class="headers">Lista wszystkich podań</span> <br/>
      <div>
        <table *ngIf="applications.length > 0">
          <tr>
            <th>Imie</th>
            <th>Nick</th>
            <th>Wiek</th>
            <th>Wybrane stanowisko</th>
            <th>Umiejetności</th>
            <th>O mnie</th>
            <th>Dlaczego aplikuję</th>
          </tr>
          <tr *ngFor="let application of applications">
            <td>{{application.name}}</td>
            <td>{{application.nick}}</td>
            <td>{{application.age}}</td>
            <td>{{application.position}}</td>
            <td style="width: 180px">ts3: {{application.knowledgeTS3}}, rangi: {{application.ranks}}, <br/>
              kanały: {{application.createChannels}}, grupa: {{application.groupWork}} </td>
            <td class="textAreas">{{application.wordsAboutSelf}}</td>
            <td class="textAreas">{{application.whyApply}}</td>
          </tr>
        </table>
      </div>

    </div>

    <div id="forSelectedPosition" class="divs" hidden="true">
      <span class="headers">Lista podań na wybrane stanowisko</span> <br/>

        <div id="spApplications" hidden="true">
          <span class="names">Opiekun Strefy Prywatnej</span> <br/>
          <table *ngIf="applications.length > 0">
            <tr>
              <th>Imie</th>
              <th>Nick</th>
              <th>Wiek</th>
              <th>Wybrane stanowisko</th>
              <th>Umiejetności</th>
              <th>O mnie</th>
              <th>Dlaczego aplikuję</th>
            </tr>
            <tr *ngFor="let application of applications">
              <td>{{application.name}}</td>
              <td>{{application.nick}}</td>
              <td>{{application.age}}</td>
              <td>{{application.position}}</td>
              <td style="width: 180px">ts3: {{application.knowledgeTS3}}, rangi: {{application.ranks}}, <br/>
                kanały: {{application.createChannels}}, grupa: {{application.groupWork}} </td>
              <td>{{application.wordsAboutSelf}}</td>
              <td>{{application.whyApply}}</td>
            </tr>
          </table>
        </div>

        <div id="vipApplications" hidden="true">
          <span class="names">Opiekun Strefy VIP</span> <br/>
          <table *ngIf="applications.length > 0">
            <tr>
              <th>Imie</th>
              <th>Nick</th>
              <th>Wiek</th>
              <th>Wybrane stanowisko</th>
              <th>Umiejetności</th>
              <th>O mnie</th>
              <th>Dlaczego aplikuję</th>
            </tr>
            <tr *ngFor="let application of applications">
              <td>{{application.name}}</td>
              <td>{{application.nick}}</td>
              <td>{{application.age}}</td>
              <td>{{application.position}}</td>
              <td style="width: 180px">ts3: {{application.knowledgeTS3}}, rangi: {{application.ranks}}, <br/>
                kanały: {{application.createChannels}}, grupa: {{application.groupWork}} </td>
              <td>{{application.wordsAboutSelf}}</td>
              <td>{{application.whyApply}}</td>
            </tr>
          </table>
        </div>

        <div id="helperApplications" hidden="true">
          <span class="names">Pomocnik</span> <br/>
          <table *ngIf="applications.length > 0">
            <tr>
              <th>Imie</th>
              <th>Nick</th>
              <th>Wiek</th>
              <th>Wybrane stanowisko</th>
              <th>Umiejetności</th>
              <th>O mnie</th>
              <th>Dlaczego aplikuję</th>
            </tr>
            <tr *ngFor="let application of applications">
              <td>{{application.name}}</td>
              <td>{{application.nick}}</td>
              <td>{{application.age}}</td>
              <td>{{application.position}}</td>
              <td style="width: 180px">ts3: {{application.knowledgeTS3}}, rangi: {{application.ranks}}, <br/>
                kanały: {{application.createChannels}}, grupa: {{application.groupWork}} </td>
              <td>{{application.wordsAboutSelf}}</td>
              <td>{{application.whyApply}}</td>
            </tr>
          </table>
        </div>

        <div id="commentApplications" hidden="true">
          <span class="names">Komentator</span> <br/>
          <table *ngIf="applications.length > 0">
            <tr>
              <th>Imie</th>
              <th>Nick</th>
              <th>Wiek</th>
              <th>Wybrane stanowisko</th>
              <th>Umiejetności</th>
              <th>O mnie</th>
              <th>Dlaczego aplikuję</th>
            </tr>
            <tr *ngFor="let application of applications">
              <td>{{application.name}}</td>
              <td>{{application.nick}}</td>
              <td>{{application.age}}</td>
              <td>{{application.position}}</td>
              <td style="width: 180px">ts3: {{application.knowledgeTS3}}, rangi: {{application.ranks}}, <br/>
                kanały: {{application.createChannels}}, grupa: {{application.groupWork}} </td>
              <td>{{application.wordsAboutSelf}}</td>
              <td>{{application.whyApply}}</td>
            </tr>
          </table>
        </div>
    </div>
  </div>
</div>
