<div>
  <div id="companyName">{{companyName}}</div>
  <div id="container">
    <div id="toHidden">
      <div class="divs" id="title"><h1>{{title}}</h1></div>
      <br/>
      <hr>
      <div class="divs">
        <span class="headers">Aplikacja na stanowisko</span> <br/>
        <div>
          <label><input type="radio" name="position" [(ngModel)]="position" value="opiekunSp">OPIEKUN SP </label>
          <label><input type="radio" name="position" [(ngModel)]="position" value="opiekunVip">OPIEKUN VIP </label>
          <label><input type="radio" name="position" [(ngModel)]="position" value="pomocnik">POMOCNIK </label>
          <label><input type="radio" name="position" [(ngModel)]="position" value="komentator">KOMENTATOR </label>
          <button id="selectPosition" (click)="showRequirements()">Wybierz stanowisko!</button>
        </div>
        <br/>

        <span class="headers">Wymaganie na wybrane stanowisko</span>
        <div id="requirements">
        </div>
      </div>

      <div class="divs">
        <span class="headers">Podstawowe informacje</span> <br/>

        <p><label>Imie: <input type="text" id="name" [(ngModel)]="name" minlength="3" maxlength="50"
                               required></label></p>
        <p><label>Wiek: <input type="number" id="age" [(ngModel)]="age" min="15" max="50" required> </label></p>
        <p><label>Nick na TS3: <input type="text" id="nick" [(ngModel)]="nick" required></label></p>
      </div>

      <div class="divs">
        <span class="headers">Umiejętności (1 - najniższe, 10 - najwyższe)</span> <br/>

        <p><label>Znajomość programu Team Speak 3 <input type="number" [(ngModel)]="knowledgeTs3" min="1" max="10"
                                                         required>
        </label></p>
        <p><label>Umiejętność związana z nadawaniem rang <input type="number" [(ngModel)]="ranks" min="1" max="10"
                                                                required>
        </label></p>
        <p><label>Umiejętność związana z tworzeniem kanałów <input type="number" [(ngModel)]="createChannels" min="1"
                                                                   max="10"
                                                                   required> </label></p>
        <p><label>Umiejętność pracy w grupie <input type="number" [(ngModel)]="groupWork" min="1" max="10" required>
        </label>
        </p>

      </div>


      <div class="divs">
        <div>
          <span class="headers">Kilka słów o sobie</span> <br/>
          <textarea id="selfDescription" rows="5" cols="100" minlength="25" maxlength="255" [(ngModel)]="wordsAboutSelf"
                    required></textarea>
        </div>
      </div>
      <div class="divs">
        <div>
          <span class="headers">Dlaczego chcesz otrzymać stanowisko Administratora Inferno TS3?</span> <br/>
          <textarea id="whyApply" rows="8" cols="100" minlength="25" maxlength="800" [(ngModel)]="whyApply" required></textarea>
        </div>
      </div>
      <div class="divs">
        <label id="agreeLabel"><input type="checkbox" [(ngModel)]="agree" required> {{agreementText}}
        </label>
      </div>
      <div id="formInfo" hidden="true">
      </div>
      <button type="submit" id="send" (click)="sendApplication()">Wyślij podanie!</button>
    </div>
    <div id="afterSend" class="divs" hidden="true">
      <p><label id="infoText">Twoje podanie zostało wysłane!</label></p>
      <button id="home" (click)="showHomePage()">Strona Główna</button>
    </div>
  </div>
</div>
