<div>
  <div id="companyName">{{companyName}}</div>
  <div id="container">
    <div class="divs" id="title"><h1>{{title}}</h1></div>
    <br/>
    <hr>

    <div class="divs">
      <span class="headers">
        <p style="font-size: 23px">Jesteś dyspozycyjny/a i odpowiedzialny/a?</p>
        <p style="font-size: 24px">Lubisz pomagać innym?</p>
        <p style="font-size: 25px">Przesiadujesz często na Inferno TS3?</p>
        <p style="font-size: 26px">Chciał(a)byś wesprzeć zespół administracyjny?</p>
        <p style="color: red; font-size: 28px">Jeśli tak to zgłoś się już teraz! Właśnie takich osób potrzebujemy!</p>
        <p style="text-align: left">Oferujemy:</p>
        <ul>
          <li>rozwój umiejętności dotyczących administrowania serwerem TeamSpeak 3</li>
          <li>miłą atmosferę w zespole</li>
          <li>przyjemne zebrania Administracji</li>
          <li>dostęp do aplikacji (ułatwiającej pracę)</li>
        </ul>
      </span> <br/>
    </div>

    <div class="divs">
      <span class="headers">Złóż podanie lub zobacz listę nadesłanych podań </span> <br/>
      <div class="flex">
        <button (click)="showApplicantForm()">Złóż podanie</button>
        <button (click)="showRecruitPage()">Pokaż listę podań</button>
      </div>
    </div>

    <div class="divs">
      <span class="headers">Opis stanowisk</span> <br/>
      <br/>
      <div class="flex">
        <button id="button1" (click)="showSpDescription()">Opiekun SP</button>
        <button id="button2" (click)="showVipDescription()">Opiekun VIP</button>
        <button id="button3" (click)="showHelperDescription()">Pomocnik</button>
        <button id="button4" (click)="showCommentDescription()">Komentator</button>
      </div>
<!--      <div id="positionDescription" hidden=true"></div>-->

    </div>

    <div class="divs">
      <div id="spDescription" hidden="true">
        <span class="headers">Opiekun Strefy Prywatnej</span> <br/>
        <p class="description">{{spDescription}}</p>
      </div>

      <div id="vipDescription" hidden="true">
        <span class="headers">Opiekun Strefy VIP</span> <br/>
        <p class="description">{{vipDescription}}</p>
      </div>

      <div id="helperDescription" hidden="true">
        <span class="headers">Pomocnik</span> <br/>
        <p class="description">{{helperDescription}}</p>
      </div>

      <div id="commentDescription" hidden="true">
        <span class="headers">Komentator</span> <br/>
        <p class="description">{{commentDescription}}</p>
      </div>
    </div>

  </div>
</div>
