#container
{
  position: relative;
  top: 50px;
  width: 1080px;
  min-height: 900px;
  max-height: 100%;
  margin: auto;
  background-color: lightgrey;
  padding: 10px 30px;
  text-align: center;
}

#companyName
{
  color: darkorange;
  font-size: 24px;
  font-family: Consolas, sans-serif;
  position: relative;
  left: 70%;
  top: 50px;
}

#title
{
  background-color: #e0e0e0;
  color: #FF9944;
  text-align: center;
  font-size: 32px;
}

.headers
{
  font-size: 24px;
  font-weight: bold;
  display: block;
}

.divs
{
  font-size: 20px;
  text-align: center;
  padding: 20px;
  background-color: #e0e0e0;
  margin: 10px 30px;
}

.description
{
  text-align: left;
  text-justify: auto;
  font-size: 20px;
  margin-left: 100px ;
}

button
{
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-size: 24px;
  border-radius: 2px;
  outline-color: #FF9944;
  font-family: Cambria, sans-serif;
  margin: 20px;
}

button:hover
{
  background-color: lightgrey;
  cursor: pointer;
}

.flex
{
  display: block;
}
