<div>
  <div id="companyName">{{companyName}}</div>
  <div id="container">
    <div class="divs" id="title"><h1>{{title}}</h1></div>
    <br/>
    <hr>

    <div class="divs">
      <span class="headers">
        <p style="font-size: 23px">Jesteś dyspozycyjny/a i odpowiedzialny/a?</p>
        <p style="font-size: 24px">Lubisz pomagać innym?</p>
        <p style="font-size: 25px">Przesiadujesz często na Inferno TS3?</p>
        <p style="font-size: 26px">Chciał(a)byś wesprzeć zespół administracyjny?</p>
        <p style="color: red; font-size: 28px">Jeśli tak to zgłoś się już teraz! Właśnie takich osób potrzebujemy!</p>
        <p style="text-align: left">Oferujemy:</p>
        <ul>
          <li>rozwój umiejętności dotyczących administrowania serwerem TeamSpeak 3</li>
          <li>miłą atmosferę w zespole</li>
          <li>przyjemne zebrania Administracji</li>
          <li>dostęp do aplikacji (ułatwiającej pracę)</li>
        </ul>
      </span> <br/>
    </div>

    <div class="divs">
      <span class="headers">Złóż podanie lub zobacz listę nadesłanych podań </span> <br/>
      <div class="flex">
        <button (click)="showApplicantForm()">Złóż podanie</button>
        <button (click)="showRecruitPage()">Pokaż listę podań</button>
      </div>
    </div>

    <div class="divs">
      <span class="headers">Opis stanowisk</span> <br/>
      <br/>
      <div class="flex">
        <button id="button1" (click)="showSpDescription()">Opiekun SP</button>
        <button id="button2" (click)="showVipDescription()">Opiekun VIP</button>
        <button id="button3" (click)="showHelperDescription()">Pomocnik</button>
        <button id="button4" (click)="showCommentDescription()">Komentator</button>
      </div>
<!--      <div id="positionDescription" hidden=true"></div>-->

    </div>

    <div class="divs">
      <div style="text-align: left" id="spDescription" hidden="true">
        <span class="headers">Opiekun SP</span>
<!--        <p class="description">{{spDescription}}</p>-->
        <p style="font-weight: bold">Specjalista od Strefy Prywatnej :)</p>
        <p>Osoba na tym stanowisku zajmuje się całą strefą prywatną.</p>
        <p>Aplikując na to stanowisko będziesz:</p>
        <ul>
          <li>utrzymywać kontakt z właścicielami kanałów,</li>
          <li>modyfikować wygląd strefy,</li>
          <li>współpracować z pozostałymi członkami zespołu (głównie opiekunami)</li>
          <li>sprawdzać nazwy i opisy kanałów</li>
        </ul>
        <p>i wiele więcej!</p>
      </div>

      <div style="text-align: left" id="vipDescription" hidden="true">
        <span class="headers">Opiekun Strefy VIP</span>
<!--        <p class="description">{{vipDescription}}</p>-->
        <p style="font-weight: bold">Specjalista od Strefy VIP :)</p>
        <p>Osoba na tym stanowisku zajmuje się całą strefą VIP.</p>
        <p>Aplikując na to stanowisko będziesz:</p>
        <ul>
          <li>utrzymywać kontakt z właścicielami kanałów,</li>
          <li>modyfikować wygląd strefy,</li>
          <li>tworzyć nową rangę VIP (),</li>
          <li>współpracować z pozostałymi członkami zespołu (głównie opiekunami)</li>
          <li>sprawdzać nazwy i opisy kanałów</li>
        </ul>
        <p>i wiele więcej!</p>
      </div>

      <div style="text-align: left" id="helperDescription" hidden="true">
        <span class="headers">Pomocnik</span>
<!--        <p class="description">{{helperDescription}}</p>-->
        <p style="font-weight: bold">Główna siła robocza serwera! :D</p>
        <p>Osoba na tym stanowisku pomaga użytkownikom </p>
        <p>Aplikując na to stanowisko będziesz:</p>
        <ul>
          <li>pomagać użytkownikom serwera Inferno TS3,</li>
          <li>rozwiązywać problemy,</li>
          <li>sprawdzać nicki oraz avatary użytkowników,</li>
          <li>wspierać pozostałych członków zespołu</li>
        </ul>
        <p>i wiele więcej!</p>
      </div>

      <div style="text-align: left" id="commentDescription" hidden="true">
        <span class="headers">Komentator</span>
<!--        <p class="description">{{commentDescription}}</p>-->
        <p style="font-weight: bold">Bez niego nie odbędzie się żaden turniej!</p>
        <p>Osoba na tym stanowisku komentuje rozgrywki w lidze "Inferno TS3 League".</p>
        <p>Aplikując na to stanowisko będziesz:</p>
        <ul>
          <li>komentować mecze turniejowe,</li>
          <li>na bieżąco analizować szansę drużyn na wygraną,</li>
          <li>przygotowywać analizę pomeczową</li>
        </ul>
        <p>robić show :D</p>
      </div>
    </div>

  </div>
</div>
